@import "../../styles";

.player-search {
  margin-top: 3rem;
}

.player-cards {
  margin-top: 3rem;
}

.player-info {
  border: 2px;
}

.player-img {
  margin: 0 auto;
  width: 160px;
  height: 160px
}

button {
  cursor: pointer;
}
